<a href="https://colab.research.google.com/github/Iphisto/CHE7000_Adv-Control-HW1/blob/Homework_branch/IFEOLUWAKIITAN_AKINYEMI_HW2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from google.colab import drive

# assignment dataset
file_path = '/content/drive/MyDrive/Colab Notebooks/Data_Plant.xlsx'
df = pd.read_excel(file_path)

#1. Output basic information (features and data types)
df.info()
print("Data set information\n")
column_addition = [f"Column {i}" for i in range(1, 28)]
df = pd.read_excel(file_path, header=None, names=column_addition)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7199 entries, 0 to 7198
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   39527.25            7199 non-null   float64
 1   27.466360092163086  7198 non-null   float64
 2   27.628910064697266  7198 non-null   float64
 3   8.822265625         7199 non-null   float64
 4   5.396483898162842   7199 non-null   float64
 5   1691.6510009765625  7199 non-null   float64
 6   7.3666911125183105  7199 non-null   float64
 7   78.55264282226562   7199 non-null   float64
 8   13.514650344848633  7199 non-null   float64
 9   36.84375            7199 non-null   float64
 10  49.535160064697266  7198 non-null   float64
 11  89.080078125        7199 non-null   float64
 12  92.59375            7199 non-null   float64
 13  99.77149200439453   7198 non-null   float64
 14  8588.513671875      7198 non-null   float64
 15  60.45621871948242   7199 non-null   float64
 16  45.68021011352539   7198 non-null   float64
 17  3.066406011581421   7199 non-null   float64
 18  55.95146179199219   7198 non-null   float64
 19  71.27528381347656   7199 non-null   float64
 20  30.65937042236328   7199 non-null   float64
 21  30.592580795288086  7198 non-null   float64
 22  375845.3125         7199 non-null   float64
 23  45.99155044555664   7199 non-null   float64
 24  3.265625            7199 non-null   float64
 25  2.267400026321411   7198 non-null   float64
 26  1.72160005569458    7197 non-null   float64
dtypes: float64(27)
memory usage: 1.5 MB
Data set information

In [7]:
# 2. Check and process missing values, then fill with mean values
print("Data pre-processing")
print(df.isnull().sum())
print("\n")

#using the mean of each column

df_filled = df.fillna(df.mean(numeric_only=True))

print("re-checking for missing values")
print(df_filled.isnull().sum())
print("\n")

Data pre-processing
Column 1     0
Column 2     1
Column 3     1
Column 4     0
Column 5     0
Column 6     0
Column 7     0
Column 8     0
Column 9     0
Column 10    0
Column 11    1
Column 12    0
Column 13    0
Column 14    1
Column 15    1
Column 16    0
Column 17    1
Column 18    0
Column 19    1
Column 20    0
Column 21    0
Column 22    1
Column 23    0
Column 24    0
Column 25    0
Column 26    1
Column 27    2
dtype: int64


re-checking for missing values
Column 1     0
Column 2     0
Column 3     0
Column 4     0
Column 5     0
Column 6     0
Column 7     0
Column 8     0
Column 9     0
Column 10    0
Column 11    0
Column 12    0
Column 13    0
Column 14    0
Column 15    0
Column 16    0
Column 17    0
Column 18    0
Column 19    0
Column 20    0
Column 21    0
Column 22    0
Column 23    0
Column 24    0
Column 25    0
Column 26    0
Column 27    0
dtype: int64

In [8]:
#splitting the 30% Temporary set into val and test
X_val, X_test = train_test_split(X_temp, test_size=0.50, random_state=42)

print(f"Training set size:   {len(X_train)} (approx 70%)")
print(f"Validation set size: {len(X_val)} (approx 15%)")
print(f"Testing set size:    {len(X_test)} (approx 15%)")
print("\n")

Training set size:   5040 (approx 70%)
Validation set size: 1080 (approx 15%)
Testing set size:    1080 (approx 15%)

In [9]:
# 4. normalize/standardize all numerical features: using standard scaler for this assignment

scaler = StandardScaler()

# using the training dataset
scaler.fit(X_train)

#Standardizing the datasets using the parameters from the training dataset
X_train_scaled = scaler.transform(X_train)
X_val_scaled = scaler.transform(X_val)
X_test_scaled = scaler.transform(X_test)

#converting back to df to keep column names
X_train_final = pd.DataFrame(X_train_scaled, columns=df.columns)
X_val_final = pd.DataFrame(X_val_scaled, columns=df.columns)
X_test_final = pd.DataFrame(X_test_scaled, columns=df.columns)

print(X_train_final.head())

   Column 1  Column 2  Column 3  Column 4  Column 5  Column 6  Column 7  \
0 -1.153569 -0.217281  0.114211  1.348983  0.734034  0.194506  1.077330
1 -1.675925 -0.001286  0.841097  0.529705  0.878994  0.319195  1.517314
2 -1.025152 -1.045654 -0.837656 -0.873430 -1.078703 -0.085965 -1.379410
3  1.721804 -0.408882 -0.064619 -0.054146 -0.819293 -1.168351 -1.108739
4 -0.458381  0.400806  0.523812  0.831056 -0.365527  0.187866 -0.278869

   Column 8  Column 9  Column 10  ...  Column 18  Column 19  Column 20  \
0 -0.523504  0.961766   0.012936  ...   0.551832  -0.886931  -0.157705
1 -1.776494  1.028325   0.038291  ...   0.727401   1.439257  -3.152110
2  0.967999 -1.641484  -0.557506  ...  -1.107812   1.205998   0.275590
3  0.671406 -1.945287  -0.433909  ...  -0.545013  -0.972002   0.275590
4 -0.393679  0.050577   0.133996  ...  -0.257496   0.937246   0.275590

   Column 21  Column 22  Column 23  Column 24  Column 25  Column 26  Column 27
0  -0.275885  -0.504511   0.194370  -2.047447   0.531873  -0.496628   0.046515
1  -0.482060  -0.433384  -1.104986  -2.083220   0.702003   0.832507   0.107697
2  -0.317152  -0.002519  -0.800447   0.537999  -1.095191   0.169670   0.055288
3   0.899042   1.090961  -1.342115   0.493973  -0.510561   0.343952   0.007418
4   0.816618   0.532045  -0.996614  -0.170155  -0.145554   0.088349   0.051268

[5 rows x 27 columns]